# Игнорировать конкретные файлы
.env

# Игнорировать все .md файлы кроме README.md
*.md
!README.md

# Игнорировать всю директорию configs и все её содержимое
/configs/
.idea/
solana-bot
/pump-fun-bot-main
/bin/  # Директория для локальных бинарных файлов, включая golangci-lint
/distribution
/logs

# Игнорировать бинарные файлы
main
tui

**/.claude/settings.local.json


