# Игнорировать конкретные файлы
.env
CLAUDE.md
TT.md
Tasks.md
main
merged_output_selected_folders.txt
arch.md
TODO.md


# Игнорировать всю директорию configs и все её содержимое
/configs/
.idea/
solana-bot
/pump-fun-bot-main
/bin/  # Директория для локальных бинарных файлов, включая golangci-lint

**/.claude/settings.local.json
